<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923299399445-g80fm0nr6bsp6c9arq99vmqj9m82t1sb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923299399445-g80fm0nr6bsp6c9arq99vmqj9m82t1sb</string>
	<key>API_KEY</key>
	<string>AIzaSyD6KCDYxWnKtktCxweH4R1vNywEYpUagHE</string>
	<key>GCM_SENDER_ID</key>
	<string>923299399445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.addemo.MvvmDemoFireBase</string>
	<key>PROJECT_ID</key>
	<string>demomvvmfirebase-cf93f</string>
	<key>STORAGE_BUCKET</key>
	<string>demomvvmfirebase-cf93f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923299399445:ios:781f169c0f56a175bd0b1c</string>
</dict>
</plist>